@use './variables' as *;
@use './mixins' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-main;
  font-size: 16px;
  font-weight: 100;
  transition:
    background-color 0.3s,
    color 0.3s;
  background-color: var(--color-bg);
  color: var(--color-text);
}
.wrapper {
  @include main_wrapper;
}

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--color-bg);
}

::-webkit-scrollbar-thumb {
  background-color: $primary;
  border-radius: 10px;
  border: 2px solid var(--color-bg);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-thumb-hover);
}
