@use './mixins' as *;
@use './media' as *;
@use './variables' as *;
.experience {
  @include main_container;
  .container {
    @include flex($direction: column, $gap: 30px);
    margin-top: 40px;
  }
  .time-line {
    @include flex($gap: 50px);
  }
  .col {
    @include flex($direction: column, $justify: center, $align: center, $gap: 10px);
    .icon {
      background-color: rgba($primary, 0.1);
      padding: 10px 8px;
      border-radius: 50%;
      color: rgba($primary, 0.9);
    }
  }
  .left-line {
    position: relative;
    width: 2.5px;
    height: 100%;
    min-height: 280px;
    border-radius: 16px;
    background: linear-gradient(to bottom, rgba($primary, 0.5), rgba($primary, 0.1));
  }
  .line-dot {
    position: absolute;
    top: 120px;
    left: 50%;
    transform: translateX(-50%);
    width: 15px;
    height: 15px;
    background: rgba($primary, 0.9);
    border: none;
    border-radius: 50%;
  }
  .experience-item {
    @include card;
    width: 90%;
    text-transform: capitalize;
    padding: 20px;
    .line {
      @include flex($justify: space-between);
      margin: 10px 0;
    }
    .position {
      font-size: 1.3rem;
      font-weight: 550;
    }
    .meta {
      @include flex($gap: 20px);
      &_icon {
        margin-right: 5px;
      }
    }
    .role,
    .meta {
      color: $secondary;
      font-size: 1rem;
    }
    .type {
      @include badge($bg: $light-gray, $color: $secondary);
    }
    .duration {
      @include badge($bg: rgba($primary, 0.2), $color: $primary);
    }
  }
  .mobile_only {
    display: none;
  }
  .desktop-only {
    display: block;
  }
  .achievements {
    .icon {
      color: $primary;
      padding: 0;
      background-color: transparent;
      margin-right: 10px;
    }
    &_title {
      margin: 15px 0;
      @include flex($align: center);
    }
    &_list {
      list-style: none;
      line-height: 1.6;
      li {
        color: $secondary;
        font-size: 0.9rem;
        display: flex;
        align-items: flex-start;
        gap: 8px;
      }
      .icon {
        flex-shrink: 0;
        margin-top: 4px;
      }
      span {
        flex: 1;
      }
    }
  }
  // Tablet
  @include tablet {
    .time-line {
      @include flex($gap: 20px);
    }
  }
  // Mobile
  @include mobile {
    .mobile_only {
      @include flex($direction: column, $gap: 10px);
    }
    .desktop-only {
      display: none;
    }
    .time-line {
      @include flex($gap: 15px);
    }
    .experience-item {
      .role,
      .meta {
        font-size: 0.9rem;
      }
      .role {
        margin: 15px 0;
        line-height: 1.4;
      }
    }
    .achievements {
      &_list {
        li {
          font-size: 0.8rem;
        }
      }
    }
  }
}
