@use './variables' as *;
@use './media' as *;
@use './mixins' as *;

.hero {
  @include main_container($align: flex-start);
  .name {
    text-transform: capitalize;
    font-size: 4rem;
  }
  .subtitle {
    font-size: 3.2rem;
    color: var(--color-text);
    background: linear-gradient(90deg, $primary, #9f7aea);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .description {
    font-size: 1.4rem;
    color: $secondary;
    line-height: 1.6;
  }
  .actions {
    @include flex($gap: 20px, $align: center, $wrap: wrap);
    margin: 20px 0px;
    &_primary {
      @include main-btn($light, $primary);
      display: inline-flex;
      align-items: center;
      gap: 8px;
      border: none;
      @include box-shadow;
      .icon {
        transition: transform 0.3s ease;
      }
      &:hover {
        background: rgba($primary, 0.8);
        box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.3);
        .icon {
          transform: translateX(6px);
        }
      }
    }
    &_secondary {
      @include main-btn(var(--color-text), transparent);
      border: 2px solid var(--color-text);
      &:hover {
        background-color: var(--color-main-btn-hover);
        color: $light;
      }
    }
  }
  .social-links {
    .connect {
      color: $secondary;
      margin-right: 20px;
    }
    .social-link {
      font-size: 18px;
      color: $secondary;
      transition:
        color 0.3s ease,
        transform 0.3s ease;
    }

    .social-link:hover {
      color: var(--color-main-btn-hover);
      transform: translateY(-2px);
    }
  }
  // Tablet
  @include tablet {
    .name {
      font-size: 3.5rem;
    }
    .subtitle {
      font-size: 2.8rem;
    }
    .description {
      font-size: 1.3rem;
    }
  }
  // Mobile
  @include mobile {
    .name {
      font-size: 2.7rem;
    }
    .subtitle {
      font-size: 2rem;
    }
    .description {
      font-size: 1.1rem;
    }
    .actions {
      width: 100%;
      @include flex($direction: column);

      button {
        width: 100%;
      }
      &_primary {
        @include flex($justify: center);
      }
    }
    .social-links {
      .social-link {
        font-size: 15px;
      }
    }
  }
}
