@use './variables' as *;
@use './media' as *;
@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin button-reset {
  background: none;
  border: none;
  cursor: pointer;
}

@mixin box-shadow {
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
}

@mixin fixed-btn($border-color, $color, $bg-color) {
  display: none;
  @include button-reset;
  position: fixed;
  border-radius: $circle-radius;
  z-index: 3;
  border: 1px solid $border-color;
  color: $color;
  background-color: $bg-color;
}
@mixin main-btn($color, $bg) {
  color: $color;
  background-color: $bg;
  border-radius: 8px;
  padding: 14px 35px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: 0.3s;
}
@mixin main_wrapper {
  display: flex;
  flex-direction: column;
  width: 85%;
  margin-left: auto;
  @include mobile {
    margin: 0 auto;
  }
}
@mixin main_container(
  $padding-desktop: 80px,
  $padding-tablet: 50px,
  $padding-mobile: 10px,
  $gap-desktop: 15px,
  $gap-mobile: 10px
) {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: $gap-desktop;
  @include flex-column;
  padding: $padding-desktop;

  @include tablet {
    padding: $padding-tablet;
  }

  @include mobile {
    padding: $padding-mobile;
    gap: $gap-mobile;
  }
}
