@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin button-reset {
  background: none;
  border: none;
  cursor: pointer;
}

@mixin glass {
//   background: rgba(15, 23, 42, 0.6);
//   backdrop-filter: blur(10px);
}
