@use './variables' as *;
@use './media' as *;

@mixin flex($direction: row, $justify: null, $align: null, $gap: null, $wrap: null) {
  display: flex;
  flex-direction: $direction;

  @if $justify != null {
    justify-content: $justify;
  }

  @if $align != null {
    align-items: $align;
  }

  @if $gap != null {
    gap: $gap;
  }

  @if $wrap != null {
    flex-wrap: $wrap;
  }
}
@mixin grid($columns: 1fr, $justify: null, $align: null, $gap: null) {
  display: grid;
  grid-template-columns: $columns;

  @if $justify != null {
    justify-content: $justify;
  }

  @if $align != null {
    align-items: $align;
  }

  @if $gap != null {
    gap: $gap;
  }
}
@mixin main_wrapper {
  @include flex($direction: column);
  width: 85%;
  margin-left: auto;
  @include tablet {
    width: 90%;
  }
  @include mobile {
    margin: 0 auto;
    width: 90%;
  }
}
@mixin main_container(
  $padding-desktop: 80px,
  $padding-tablet: 20px,
  $padding-mobile: 10px,
  $gap: 15px,
  $align: center
) {
  width: 100%;
  min-height: 100vh;
  @include flex($direction: column, $align: $align, $justify: center, $gap: $gap);
  padding: $padding-desktop;

  @include tablet {
    padding: $padding-tablet;
  }

  @include mobile {
    padding: $padding-mobile;
    @include flex($direction: column, $align: $align, $justify: center, $gap: 10px);
  }
}
@mixin card($type: null, $mr: 15px 0, $pa: 10px, $icon-pa: 5px) {
  will-change: transform;
  border-radius: 10px;
  border: 1px solid $light-gray;
  padding: $pa;
  margin: $mr;
  transition: transform 0.3s ease;
  .icon {
    color: rgba($primary, 0.8);
    background-color: rgba($primary, 0.1);
    padding: $icon-pa;
    border-radius: 10px;
  }
  &:hover {
    border: 1px solid rgba($primary, 0.2);
    @if $type != 'static' {
      @include box-shadow;
      transform: scale(1.04);
    }
  }
}
@mixin badge($bg: transparent, $color, $br: 15px, $fs: small) {
  @include flex($align: center, $justify: center, $gap: 5px);
  background-color: $bg;
  color: $color;
  border-radius: $br;
  padding: 5px 10px;
  text-transform: capitalize;
  font-size: $fs;
}
@mixin box-shadow {
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
}
@mixin button-reset {
  background: none;
  border: none;
  cursor: pointer;
}
@mixin fixed-btn($border-color, $color, $bg-color) {
  display: none;
  @include button-reset;
  position: fixed;
  z-index: 3;
  border: 1px solid $border-color;
  border-radius: $circle-radius;
  color: $color;
  background-color: $bg-color;
}
@mixin main-btn($color, $bg, $fs: 1.1rem, $p: 14px 35px, $br: 8px) {
  padding: $p;
  font-size: $fs;
  cursor: pointer;
  transition: 0.3s;
  border-radius: $br;
  color: $color;
  background-color: $bg;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  border: none;
  text-transform: capitalize;
  &:hover {
    background: rgba($primary, 0.8);
  }
}
@mixin secandary-btn($color, $bg) {
  padding: 14px 35px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 8px;
  color: $color;
  background-color: $bg;
  border: 2px solid var(--color-text);
  &:hover {
    background-color: var(--color-main-btn-hover);
    color: $light;
  }
}
@mixin social-link($fs: 18px) {
  font-size: $fs;
  color: rgba($secondary, 0.4);
  transition:
    color 0.3s ease,
    transform 0.3s ease;

  &:hover {
    color: var(--color-main-btn-hover);
    transform: translateY(-2px);
  }
}
@mixin input {
  background: transparent;
  color: var(--color-text);
  padding: 10px;
  border: 1px solid $light-gray;
  border-radius: 8px;
  width: 100%;
}
@mixin textarea {
  @include input;
  width: 100%;
  min-height: 100px;
  margin-bottom: 10px;
}
@mixin actions {
  @include flex($gap: 10px);
  margin: 20px 0px;
}
@mixin actionsBtn {
  text-transform: capitalize;
  padding: 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
  font-size: 0.9rem;
}
@mixin cancelBtn {
  @include actionsBtn;
}
@mixin submitBtn {
  @include actionsBtn;
  background: $primary;
  color: $light;
  &:hover {
    background: rgba($primary, 0.8);
  }
}
@mixin hr {
  margin: 2rem 0;
  border: none;
  height: 1px;
  background-color: $light-gray;
}
