@use './mixins' as *;
@use './variables' as *;
@use './media' as *;
.projects {
  @include main_container;
  .container {
    width: 100%;
    .bar {
      @include flex($gap: 10px, $justify: space-between, $wrap: wrap);
    }
    .filter-bar,
    .layout {
      @include flex($gap: 10px);
      margin-bottom: 20px;
    }

    .filter-btn,
    .layout-btn {
      @include button-reset;
      padding: 10px 15px;
      text-transform: capitalize;
      font-size: 14px;
      transition: 0.2s;
      border: 1px solid $light-gray;
      border-radius: 10px;
    }
    .layout-btn {
      padding: 3px 5px;
    }
    .filter-btn.active,
    .layout-btn.active {
      background: $primary;
      color: $light;
    }
    .filter-btn:hover,
    .layout-btn:hover {
      background: $light-gray;
    }
    .projects-list.flex {
      @include flex($direction: column, $gap: 10px, $align: center);
      // .card {
      // }
    }
    .projects-list.grid {
      @include grid($columns: repeat(3, 1fr), $gap: 20px, $justify: space-between);
      align-items: stretch;
    }
    .projects-list {
      width: 100%;
      height: 100%;
      padding: 0;
      .card {
        @include flex($direction: column);
        width: 100%;
        height: 100%;
        border-radius: 16px;
        overflow: hidden;
        border: 1px solid $light-gray;
        cursor: pointer;
        transition: all 0.3s ease;
        &:hover {
          transform: translateY(-8px);
        }
        .project_img {
          aspect-ratio: 16 / 9; //الصورة تتمد على كامل المساحة
          overflow: hidden;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover; //يقص الزائد بدون تشويه
          }
        }
        .project_content {
          padding: 16px;
          box-sizing: border-box;
          flex: 1; //يتمدد
          @include flex($direction: column);
          .line {
            @include flex($justify: space-between, $align: center);
            padding: 10px 0;
          }
          .main {
            flex: 1;
          }
          .name {
            font-size: 1.2rem;
            margin-bottom: 8px;
            margin: 0;
          }
          .time {
            @include badge($bg: rgba($light-gray, 0.3), $color: var(--color-text));
          }
          .description {
            font-size: 0.9rem;
            color: $secondary;
            margin-bottom: 12px;
            line-height: 1.3;
          }
          .technology {
            @include flex($gap: 10px, $wrap: wrap);
            margin: 15px 0;
            li {
              list-style: none;
              @include badge($bg: rgba($primary, 0.14), $color: $primary);
            }
          }
          .btn {
            margin-top: auto;
            a{
            }
          }
          // .btn {
          //   display: inline-flex;
          //   align-items: center;
          //   gap: 6px;
          //   background: transparent;
          //   border: none;
          //   color: #e2e8f0;
          //   cursor: pointer;
          //   font-weight: 500;

          //   .icon {
          //     transition: transform 0.3s ease;
          //   }

          //   &:hover .icon {
          //     transform: translateX(6px);
          //   }
          // }
        }
      }
    }
  }
  // Tablet
  @include tablet {
    .container {
      .projects-list.grid {
        @include grid($columns: repeat(2, 1fr), $gap: 20px, $justify: space-between);
        align-items: stretch;
      }
    }
  }
  // Mobile
  @include mobile {
    .container {
      .bar {
        @include flex($gap: 10px, $justify: center, $wrap: wrap);
      }
      .projects-list.grid {
        @include grid($columns: repeat(1, 1fr), $gap: 20px, $justify: space-between);
        align-items: stretch;
      }
    }
  }
}
