@use './mixins' as *;
@use './variables' as *;
@use './media' as *;
.projects {
  @include main_container;
  .container {
    width: 100%;
    .bar {
      @include flex($gap: 10px, $justify: space-between, $wrap: wrap);
    }
    .filter-bar,
    .layout {
      @include flex($gap: 10px);
      margin-bottom: 20px;
    }

    .filter-btn,
    .layout-btn {
      @include button-reset;
      padding: 10px 15px;
      text-transform: capitalize;
      font-size: 14px;
      transition: 0.2s;
      border: 1px solid $light-gray;
      border-radius: 10px;
    }
    .layout-btn {
      padding: 3px 5px;
    }
    .filter-btn.active,
    .layout-btn.active {
      background: $primary;
      color: $light;
    }
    .filter-btn:hover,
    .layout-btn:hover {
      background: $light-gray;
    }
    .projects.flex {
      @include flex($direction: column, $gap: 10px, $align: center);
    }
    .projects.grid {
      @include grid($columns: repeat(3, 1fr), $gap: 20px);
    }
    .projects {
      .card {
        @include card;
      }
    }
  }
  // Tablet
  @include tablet {
  }
  // Mobile
  @include mobile {
    .container {
      .bar {
        @include flex($gap: 10px, $justify: center, $wrap: wrap);
      }
    }
  }
}
