@use './variables' as *;
@use './media' as *;
@use './mixins' as *;

.sidebar {
  @include flex-column;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 250px;
  box-sizing: border-box;
  padding: 30px 20px;
  background: $dark;
  transition: 0.3s;
  z-index: 2;
}
.logo {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 35px;
  margin-top: 20px;
}
.btn {
  @include button-reset;
  margin-top: auto;
  padding: 10px;
  width: 40px;
  font-size: medium;
  &:hover {
    background-color: rgb(31, 41, 55);
    border-radius: $min-radius;
  }
}
.dark-icon {
  color: white;
}
.light-icon {
  color: black;
}
.menu {
  list-style: none;
  padding: 0;

  li {
    display: flex;
    align-items: center;
    gap: 25px;
    padding: 12px;
    margin-bottom: 10px;
    color: $gray;
    border-radius: $min-radius;
    cursor: pointer;
    transition: 0.3s;

    span {
      transition: 0.3s;
    }

    &:hover {
      background: $dark-gray;
      color: white;
    }

    &.active {
      background: $active-color;
      color: white;
      border: 1px solid $blue;
    }
  }
}
.menu-btn {
  display: none;
  @include button-reset;
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 5px 10px;
  border: 1px solid $gray;
  border-radius: $circle-radius;
  color: white;
  font-size: 20px;
  z-index: 3;
}
.full {
  display: inline;
}
.short {
  display: none;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(6px);
  z-index: 1;
}
// Tablet
@include tablet {
  .sidebar {
    width: 80px;
    .full {
      display: none;
    }
    .short {
      display: inline;
    }
    .menu li span {
      display: none;
    }
  }
}

// Mobile
@include mobile {
  .sidebar {
    transform: translateX(-100%);
    transition: transform 0.5s ease;
    width: 250px;

    &.open {
      transform: translateX(0);
    }
  }
  .menu-btn {
    display: block;
  }
}
