@use './mixins' as *;
@use './media' as *;
@use './variables' as *;
.testimonials {
  @include main_container;
  .actions {
    @include flex($align: center);
    &_primary {
      @include main-btn($light, $primary, $br: 25px, $p: 12px 18px);
      @include box-shadow;
      &:hover {
        box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.3);
        transform: scale(1.08);
      }
    }
  }
  .cards {
    position: relative;
    width: 100%;
    text-align: center;
  }

  /* card */
  .card {
    will-change: transform;
    margin: 40px auto;
    max-width: 80%;
    padding: 20px;
    border-radius: 16px;
    border: 2px solid rgba($primary, 0.2);
    transition: all 0.3s ease;
    box-shadow: 1px 5px 15px rgba(0, 0, 0, 0.2);
    @include flex($direction: column, $align: center, $gap: 10px);
    .icon {
      color: $primary;
    }
  }
  .text {
    line-height: 1.4;
  }
  .text::first-letter {
    text-transform: uppercase;
  }
  .name,
  .date,
  .meta {
    text-transform: capitalize;
  }
  .name {
    font-weight: bold;
  }
  .date {
    color: $secondary;
  }
  .meta {
    @include flex($justify: center);
    color: $secondary;
  }
  .score {
    @include flex($justify: center);
    .icon {
      color: $gold;
    }
  }
  /* arrows */
  .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: var(--color-bg);
    color: var(--color-text);
    border: 1px solid $light-gray;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    font-size: large;
  }

  .arrow:hover {
    border: 2px solid rgba($primary, 0.2);
  }
  .left {
    left: 0;
  }

  .right {
    right: 0;
  }

  /* dots */
  .dots {
    margin-top: 20px;
  }
  .dots span {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin: 5px;
    border-radius: 50%;
    background: rgba($primary, 0.2);
    cursor: pointer;
  }

  .dots .active {
    background: $primary;
    transform: scale(1.3);
  }
  /* الدخول */
  .slide-fade-enter-active {
    transition: all 0.5s ease;
  }

  .slide-fade-enter-from {
    opacity: 0;
    transform: translateX(50px);
  }

  .slide-fade-enter-to {
    opacity: 1;
    transform: translateX(0);
  }

  /* الخروج */
  .slide-fade-leave-active {
    transition: all 0.5s ease;
  }

  .slide-fade-leave-from {
    opacity: 1;
    transform: translateX(0);
  }

  .slide-fade-leave-to {
    opacity: 0;
    transform: translateX(-50px);
  }
  // Tablet
  @include tablet {
  }
  // Mobile
  @include mobile {
  }
}
