$primary: #7c3aed;
$secondary: #6b7280;
$gray: #cbd5e1;
$light-gray: #cacacb8a;
$dark-gray: #1f2937;
$dark: #000000;
$light: #ffffff;
$min-radius: 10px;
$circle-radius: 50%;
$gold: rgb(255, 212, 59);
$green: #22c55e;
$red: rgb(230, 2, 2);
// 🔤 Fonts
$font-main: 'Arial', sans-serif;