$primary: #0f172a;
// $secondary: #0b0f1a;
$dark: #000000;
// $main-color: #42b883;
$gray: #cbd5e1;
$dark-gray: #1f2937;
$blue: #1d4ed8;
$light: #ffffff;
$text: #e2e8f0;
$active-color: #3b52ff33;



// 📏 Spacing
// $padding: 20px;
$min-radius: 10px;
$circle-radius: 50%;

// 🔤 Fonts
$font-main: 'Arial', sans-serif;