// $primary: #0f172a;
// $secondary: #0b0f1a;
// $main-color: #42b883;
$gray: #cbd5e1;
$light-gray: #cacacb8a;
$dark-gray: #1f2937;
$dark: #000000;
$light: #ffffff;
$blue: #1d4ed8;
$min-radius: 10px;
$circle-radius: 50%;

// 🔤 Fonts
$font-main: 'Arial', sans-serif;